/* タブレット向けレイアウト*/
@media(max-width:1000px) {
  .lesson {
    width:50%;
    margin-bottom:50px;
  }

}


/*スマホ向けレイアウト*/
@media(max-width:670px) {
  .lesson {
    width:100%;
  }

  footer {
    text-align:center;
  }

  .btn {
    width:100%;
  }

  .facebook {
    margin-bottom:10px;
  }

  .top-wrapper {
    padding-top:10px;    
  }
  
  h1{
    font-size:15px;
  }
  
  h2{
    font-size:15px;
  }

}
